# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Agritech_backup.zip
# Using wildcards
*.extension
*.zip
*.sql
/config/
dbcon.php
